.container{
    background-color: azure;
    height: 100vh;
    position: absolute;
    width: 95vw;
    padding: 50px;
}

body{
    font-family: Poppins;
}

.heading{
    text-align: center;
    font-family: Poppins;
}

.box{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    margin: auto;
    background-color: cadetblue;
    padding: 30px;
    border-radius: 10px;
}

.inputLabel{
    color: white;
    font-family: Poppins;
}

.fields{
    display: flex;
    justify-content: space-between;
}

.tableBox{
    border: 2px solid;
    border-color: cadetblue;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
}

.allTableContainer{
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-family: Poppins;
}

.buttonStyle{
    padding: 10px;
    border: 0px;
    font-family: Poppins;
}

.eachItem{
    width: 400px;
}
